html,body
{
    height: 100%;
}

.sideBar
{
    float: left ;
    background-color: grey;
    width: 23%;
    height: 100%;
}
.bodyArea
{
    float: right ;
    background-color: grey;
    width: 75%;
    height: 100%;

}
.box1,.box2
{

border: 1px solid black;
margin: 15px;

}

.box2{
    height:50%;
}